
   <div class="row">
        <div class="jumbotron bg-light">
          <h2 class="display-4">Mission and Vision</h2>
          <p class="lead">State your company mission and vision here</p>
          <hr class="my-4">
          <p>by site developer Steven Wang</p>
        </div>
    </div>
    