
      <div class="row">
        <div class="jumbotron bg-light">
          <h1 class="display-4">HR Management System</h1>
          <p class="lead">This is a simple HR management system template</p>
          <hr class="my-4">
          <p>Please login with your Employee ID</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
          </p>
        </div>
      </div>
